{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div id="cars-in-stock">
    <h2>Автомобили в наличии</h2>
    
    <h3>Для уточнения информации по интересуеющему вас автомобилю позвонить по номеру: +78005553535</h3>
        {% if myform %}
        <form action="" method="post">
        
            {% csrf_token %}
            {% for field in myform %}
            <div class="form-row">
                {{ field.label_tag }}
            {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Поиск">
        </form>
    {% endif %}
    {% if poisk %}
    <table class="cars-table">
                <thead>
                <tr>
                    <th>Фото</th>
                    <th>Модель</th>
                    <th>Комплектация</th>
                    <th>Объем двигателя (л.с.)</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
    {% for one in models %}
    <tr>
        <td><img src="{% static one.foto %}" alt="" class="car-image"></td>
        <td>{{ one.title }}</td>
        <td>{{ one.comp }} </td>
        <td> {{ one.objemLS }}</td>
        <td> {{ one.price }} руб.</td>
    </tr>
    {% endfor %}
        </tbody>
        </table>
    {% else %}
        <table class="cars-table">
                <thead>
                <tr>
                    <th>Фото</th>
                    <th>Модель</th>
                    <th>Комплектация</th>
                    <th>Объем двигателя (л.с.)</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
    {% for one in cars_list %}
    <tr>
        <td><img src="{% static one.foto %}" alt="" class="car-image"></td>
        <td>{{ one.title }}</td>
        <td>{{ one.comp }} </td>
        <td> {{ one.objemLS }}</td>
        <td> {{ one.price }} руб.</td>
    </tr>
    {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
{% block news %}
{% endblock %}
{% block form %}
{% endblock %}