{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div id="modelryad">
    <h1>Модельный ряд</h1>
        <ul class="model-list">
    {% for one in modelryad_list %}
    <li class="model-item">
        <a href="{{ one.get_absolute_url }}" class="model-link">
        <img src="{% static one.foto %}" alt="" width="100%" class="model-image">
        
        <h1 class="model-title">{{ one.title }}</h1>
        </a>
    </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
    {% block news %}
 {% endblock news %}
{% block form %}
{% endblock %}