{% extends 'index.html' %}
{% load static %}
    {% block head %}
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static '/css/1.css' %}">
        <script src="{% static '/js/modelscvet.js' %}" defer></script>
    {% endblock %}
{% block content %}
    <div id="model-detail">
<h1 class="model-title">{{ modelryad.title }}</h1>
    <div class="model-image-container">
<img src="{% static modelryad.foto %}" alt=""  class="model-image" id="rephoto">
    </div>
    <section class="model-section">
    <h2>Выбор цветов</h2>
    <div class="color-options">
    {% for one in modelryad.cvet.all %}
        <span class="color-option" id="{{ one.id }}" onclick="f1('{{ modelryad.title }}','{{ one.id }}')">{{ one.title }}</span>
    {% endfor %}
    </div>
        </section>
    <section class="model-section">
    <h2>Обьемы и лошадинные силы</h2>
     <div class="engine-options">
    {% for one in modelryad.objemLS.all %}
        <p class="engine-option">{{ one.title }}</p>
    {% endfor %}   
     </div>
        </section>
    <section class="model-section">
    <h2>Комплекатции</h2>
    <div class="trim-levels">
    {% for one in modelryad.comp.all %}
        <p class="trim-level">{{ one.title }}</p>
    {% endfor %}  
    </div>
        </section>
     <section class="model-section">
    <h2>Информация</h2>
    <p class="model-info"> {{ modelryad.info|linebreaksbr }} </p>
     </section>
    </div>    

{% endblock %}
{% block news %}
{% endblock news %}
{% block form %}
{% endblock %}