{% extends 'index.html' %}
{% block content %}
    <div id="owners-page">
<h1>Владельцам</h1>
    <ul class="owners-articles">
    {% for one in newsvlad_list %}
    <li class="owners-article">
     <div class="owners-article-content">
        <h3 class="owners-article-title">{{ one.title }}</h3>
        <p class="owners-article-body">{{ one.body|linebreaksbr }} </p>
         </div>
    </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
{% block news %}
{% endblock %}
{% block form %}
{% endblock %}