<!DOCTYPE html>
<html lang="ru">
{% load static %} 
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>HOME</title>
    {% endblock %}
</head>
<body>
    {% block meny %}
        <div class="lefthead">
            <img src="" alt="">
            <h2>"Наименование оф диллера"</h2>
        </div>
        <div class="righthead">
            <h2>"Адрес"</h2>
            <h2>"Телефон"</h2>
        </div>
        <div class="menu">

        </div>
    {% endblock %}
    {% block content %}
        <h3>Купить автомобиль у оф диллера</h3>
        <p>Более 20 лет назад основатели Geely в качестве цели провозгласили стремление к совершенству и ориентацию на нужды людей. С тех пор политика компании подчинена этой концепции. Бренд Geely всегда выполняет свои обещания. Geely интенсивно внедряет новейшие технологии, чтобы обеспечить своих клиентов комфортабельными, надежными автомобилями.

В модельном ряду бренда есть и кроссоверы с передним или полным приводом, и седаны бизнес-класса, и вместительные семейные автомобили. Каждый покупатель найдет модель Geely, соответствующую своим потребностям.</p>
        <h3>Особенности данных автомобилей</h3>
        <p> продаже есть автомобили Geely, значительно отличающиеся друг от друга дизайном и техническими характеристиками. Но у всех моделей есть общие черты:</p>
        <ul>
            <li>значительная часть кузовных деталей изготовлена из высокопрочных сталей;</li>
            <li>элементы кузова, наиболее подвергающиеся угрозе коррозии, оцинкованы;</li>
            <li>при сборке кузова компания применяет технологию лазерной сварки с глубоким проплавлением. За счёт этого достигается высокая прочность и герметичность шва;</li>
            <li>дизайн моделей полностью оригинален, компания не только использует мировые тенденции автомобильной моды, но и сама задает тренды;</li>
            <li>оптика – светодиодная, широко применяются технологии автоматического включения дальнего света, follow me home (задержки отключения света);</li>
        </ul>
    {% endblock %}
    {% block news %}
    {% endblock %}
    {% block peson %}
    {% endblock %}  
</body>
</html>