<!DOCTYPE html>
<html lang="ru">
{% load static %} 
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static '/css/1.css' %}">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block meny %}
        <div class="header-container">
        <div class="lefthead">
            <img src="{% static 'logo.png' %}" alt="" width="10%" class="logo">
            <h2>"Китай-бабай"</h2>
        </div>
        <div class="righthead">
            <h2>"Село Хуево, ул. Кукуева, палата №6"</h2>
            <h2>+78005553535</h2>
        </div>
        </div>
        <div class="menu">
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'modelryad' %}">Модели</a>
            <a href="{% url 'pokup' %}">Покупателям</a>
            <a href="{% url 'vladelcam' %}">Владельцам</a>
            <a href="{% url 'vnalichii' %}">Вналичии</a>
        </div>
    {% endblock %}
    {% block content %}
        <div id="content">
        <div id="geely-content">
        <h1>Купить автомобиль GEELY</h1>
        <section class="geely-section">
        <p>Более 20 лет назад основатели Geely в качестве цели провозгласили стремление к совершенству и ориентацию на нужды людей. С тех пор политика компании подчинена этой концепции. Бренд Geely всегда выполняет свои обещания. Geely интенсивно внедряет новейшие технологии, чтобы обеспечить своих клиентов комфортабельными, надежными автомобилями.

В модельном ряду бренда есть и кроссоверы с передним или полным приводом, и седаны бизнес-класса, и вместительные семейные автомобили. Каждый покупатель найдет модель Geely, соответствующую своим потребностям.</p>
        <h2>Особенности данных автомобилей</h2>
        <p>В продаже есть автомобили Geely, значительно отличающиеся друг от друга дизайном и техническими характеристиками. Но у всех моделей есть общие черты:</p>
        <ul class="geely-features">
            <li>значительная часть кузовных деталей изготовлена из высокопрочных сталей;</li>
            <li>элементы кузова, наиболее подвергающиеся угрозе коррозии, оцинкованы;</li>
            <li>при сборке кузова компания применяет технологию лазерной сварки с глубоким проплавлением. За счёт этого достигается высокая прочность и герметичность шва;</li>
            <li>дизайн моделей полностью оригинален, компания не только использует мировые тенденции автомобильной моды, но и сама задает тренды;</li>
            <li>оптика – светодиодная, широко применяются технологии автоматического включения дальнего света, follow me home (задержки отключения света);</li>
        </ul>
        </section>
        <section class="geely-section">
        <h2>Как выгодно купить Geely в Тюмени</h2>
        <p>В дилерском центре “Автоград Гарант” можно купить такую новинку Geely 2024 года как бизнес-седан Preface. В ассортименте также хорошо знакомые российскому покупателю модели удалить

2024 гг. выпуска: Atlas и Atlas Pro, Tugella, Monjaro, Coolray, Emgrand, Belgee X50, Okavango. Все автомобили новые и имеют гарантию от производителя до 5 лет. С особенностями комплектаций и ценами «Джили» можно ознакомиться на сайте.

Официальный дилер поддерживает все программы бренда: предоставляет клиентам программы рассрочки и кредиты на льготных условиях, возможность обменять старый автомобиль на новый по системе Trade-in. Перед покупкой клиент имеет право провести бесплатный тест-драйв.

В дилерском центре всегда большой выбор оригинальных запасных частей и расходников. В официальном автосервисе проводят техническое обслуживание и все виды работ  автомобилей бренда. Поэтому к официальному дилеру можно обращаться по всем вопросам, касающимся эксплуатации любой из моделей Geely.

Для получения информации закажите обратный звонок. Менеджер дилерского центра перезвонит, ответит на вопросы и сделает коммерческое предложение, по условиям которого вы сможете купить «Джили» в Тюмени с максимальной выгодой.</p>
    </section>
         </div>
        </div>
    {% endblock content %}
    {% block news %}
        <div id="news">
        <div id="news-section">
        <ul class="news-list">
    {% for i in news|slice:":3" %}
    <li class="news-item">
        <h3 class="news-title">{{ i.title }}</h3>
        <p class="news-body">{{ i.body }} </p>
    </li>
    {% endfor %}
    </ul>
        </div>
        </div>
    {% endblock news %}
    {% block form %}   
        <div id="form">
        <form method="post">
            {% csrf_token %}
            <div id="form-group">
            {{ form.name }}
            {{ form.telephone }}<br>
            {{ form.comment }}<br>
            {{ form.prover }}<p>Согласен(а) на обработку персональных данных согласно <a href="">Политике конфиденциальности</a></p>
            <button type="submit" class="btn btn-success">Отправить</button>
            <span class="errorlist">{{ error }}</span>
            </div>
         </form>
        </div>
    {% endblock %}
</div>
</body>
</html>